@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
    margin-top: 60px;
    padding-bottom: 40px;

    &__links {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0 0 60px 0;

        @include respond-to('sm') {
            flex-direction: column;
        }
    }

    &__link {
        a {
            text-decoration: none;
            color: $color-black;
            font-family: 'DM Sans', Bold;
            font-size: 14px;
            font-weight: 700;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__bottom-left {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }

    &__logo {
        width: 32px;
        height: auto;
    }

    &__text {
        font-family: 'Roboto Mono', Regular;
        font-size: 12px;
        color: $color-green-dark;
        margin: 0;
    }

    &__reserved {
        font-family: 'Roboto Mono', Regular;
        font-size: 12px;
        color: $color-green-dark;
        margin: 0;
    }
}