@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: $color-black;
    text-decoration: none;
    font-family: 'Dm Sans', Medium;
    font-weight: 600;
    font-size: 30px;
}


.menu {
    display: flex;
    align-items: center;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    padding: 12px 24px;
    border-radius: 99px;

    background: $color-background-blur;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid $color-background-blur;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);

    &__item {
        margin: 0 27px;
        list-style: none;

        a {
            color: $color-black;
            text-decoration: none;

            font-size: 14px;
            font-weight: 600;
            //line-height: 150%;
            font-family: 'Dm Sans', Bald;
            transition: all 0.5s;

            &:hover {
                color: $color-gray-light;
            }

            &.active {
                color: $color-green-dark;
            }
        }
    }
}


.btn-green-dark {
    @include button($color-green-dark, $color-white, $color-green, $color-white);
}