@use './variables' as *;

@mixin button($bg, $color, $hover-bg, $hover-color) {
    background-color: $bg;
    color: $color;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 14px 22px;
    border-radius: 99px;

    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Dm Sans', Regular;

    transition: all 0.5s;

    .arrow {
        display: inline-block;
        transition: transform 0.5s;
    }

    &:hover {
        color: $hover-color;
        background-color: $hover-bg;
        transform: scale(1.05);

        .arrow {
            transform: translateY(-3px);
        }
    }
}
@mixin respond-to($breakpoint) {
    @if $breakpoint == 'sm' {
        @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == 'md' {
        @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == 'lg' {
        @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == 'xl' {
        @media (max-width: $breakpoint-xl) { @content; }
  } @else {
        @media (max-width: $breakpoint) { @content; }
  }
}