//Accent
$color-black: #000000;
$color-gray-dark: #929292;
$color-green-light: #DFECC6;
$color-green: #8E9C78;
$color-green-dark: #485C11;

//Background
$color-white: #FFFFFF;

//Dividers
$color-gray-light: #E9E9E9;

//Paragraph
$paragraph: #6F6F6F;

//Blur
$color-background-blur: rgba(255, 255, 255, 0.45);

//Breakpoints
$breakpoint-sm: 799px;
$breakpoint-lg: 1279px;